*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Assistance, -apple-system, BlinkMacSystemFont, Segoe UI,Helvetica ,Arial, sans-serif;
    font-weight: 700 ;
}
header{
    display: flex;
    height: 80px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    justify-content: space-between;
    border-bottom: 1px solid #b6b1b1;
}
.home{
    height: 45px;
   
}
.Logo_container{
    margin-left: 2%;
    padding: 20px;
}
#action_bar{
    margin-right:2% ;
}
.Nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    
    
    
}
.Nav_bar a{
    text-decoration: none;
    color:#282c3f;
    letter-spacing: .3px;
    font-weight: 700;
    font-size: 14px;
    padding:28px 0;
     border-bottom:2px solid #ffffff;
}
.Nav_bar:hover{
    border-bottom:4px solid #f54e77;
}
.Nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar{
    height:40px;
    min-width: 400px;
    display: flex;
    align-items: center;
    padding: 30px;

    
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color:#282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height:40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-between;
}
.action_container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    
}
.action_name:hover{
    border-bottom:4px solid #f54e77;
}
/*main body*/
.banner_container{
    margin: 40px 0;;
}
.banner_image{
    width: 100%;
}
#category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing:1.8em;
    margin: 50px 0 10px 30px;
       
    font-weight: 1000;
    
}
#category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
#sale_item{
     width: 25px;
    
    }
.footer_container{
    padding: 30px 0px 40px 0;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding:15px;
}